/* style of card */
.card{
    flex: start;
  }
  .cardBody {
     text-align: center; 
    padding: 20px;
   
  } 
  /* the title style */
  h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    color: #555;
    margin-bottom: 20px;
  }
  /* style of image */
  img {
    max-width: 100%;
    border-radius: 8px;
  }
  /* style a message below a card  */
  .Greeting {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #777;
  }
  
  .greeting img {
    max-width: 50px;
    border-radius: 50%;
    margin-left: 10px;
  } 